<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>hi sis </h1>
        <h1>how are you</h1>
        <h1>what are you doing</h1>
        <h1>i want to speak with mother give mobile to her</h1>
        <h1>hi mom how are you</h1>

        <a href="{% url 'joshna' %}">response of joshna</a>
        <a href="{% url 'mother' %}">response of mother</a>
    </center>
</body>
</html>